@import url('/style/home.css');
@import url('/style/Cadastros.css');
body{
    margin: 0;
    padding: 0;
    
}





html{
    height: 1000px;
    
}


header{
    height: 120px;
   
}

#menu {
    top: 40px;
 
}



/* -------- MAIN ---------- */





.container-aluguel{
    display: flex;
    flex-direction: column; 
    width: 100%;    
    height: 1300px;
    background-color: rgb(255, 255, 255);
    padding-left: 2%;
    position: absolute;
    top: 100px;
}

.div_nome_barco{
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: rgba(245, 9, 9, 0);
    width: 70%;

}

.div_nome_barco span{
    font-size: 40px;
    font-weight: bolder;
    padding-left: 2%;
    letter-spacing: 2.5px;
    font-family: 'airbnb';
    
}

#div_imgs{
    display: flex;
    border-radius: 50px;
    padding-top: 1%;
    margin-top: 5.3%;
    margin-left: 3.3%;
    width: 47%;
    height: 40%;
    background-color: rgba(0, 255, 255, 0);
}

#img_pequenas{
    display: flex;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:20%;
    height: 100%;
    background-color: rgba(24, 216, 126, 0);
    border-radius: 20px 0 0 20px;
}


label img{
    
    cursor: pointer;
    width: 115px;
    height: 115.9px;
    border-radius: 10px;
    
}


.imagem_grande{
    display: block;
    border-radius: 0 20px 20px 0;
    width:80%;
    height: 600px;
    background-color: rgba(4, 0, 255, 0);

}
.imagem_grande img{
    border-radius: 0 20px 20px 0;
    width:100%;
    height: 100%;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgba(4, 0, 255, 0);

}
input[type="radio"] {

    appearance: none;

    background-color: #fff;

    margin: 0;
}


#imgRadio1 {
    display: block;
    height: 100%;
}
#imgRadio2 {
    display: none;
    height: 100%;
}
#imgRadio3 {
    display: none;
    height: 100%;
}
#imgRadio4 {
    display: none;
    height: 100%;
}
#imgRadio5 {
    display: none;
    height: 100%;
}






/*>>>>>>>>> div lateral para alugar <<<<<<<<<< */
.div_alugar_lateral{
    display: flex;
    position:fixed;
    flex-direction: column;
    border-radius: 12px;
    padding: 18px;
    top: 20vh;
    right: 35%;
    left: 65%;
    width:30vw;
    height: 60vh;
     background-color: rgb(255, 255, 255);
     box-shadow: 0 0 10px 2px rgb(180, 180, 180);
     font-family: 'modelo-airbnb';

 }
 
 .div_alugar_lateral span{
    padding-bottom: 2.5%;

}

 .div_precosELikes{
     display: flex;
     width: 100%;
     height: 20%;
     background-color: rgba(255, 208, 0, 0);
 }
 
 .preco_aluguel{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.7em;
     width: 60%;
     height: 100%;
     background-color: rgba(0, 255, 255, 0);
     
 }
 


 /*  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

 /* Personalizando os likes e dislikes */
 .likes_dislikes{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 40%;
     height: 100%;
     background-color: rgba(177, 240, 5, 0);
 }


 /* botões de like e dislike  */
 .btn_like_dislike {
    display: flex;
    width: 40%;
    height: 40%;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

 .btn_like_dislike:hover{
    scale: 1.1  ;
    transition: 0.1s;
 }

 .btn_like_dislike img{
    width: 80%;
 }


 /* likes  */
 .likes{
    display: flex;
    align-items: center;
    
    width: 50%;
    height: 100%;
    background-color: rgba(15, 15, 255, 0);
 }

 .likes_content{
    display: flex;
 }

 #contador_likes{
    display: flex;
    
    width: 50%;
    height: 30%;
    
    background-color: rgba(223, 14, 14, 0);
 }



 /* dislikes  */

 .dislikes_content{
    display: flex;
 }

 .dislikes{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(250, 151, 2, 0);
 }

 #contador_dislikes{
    display: flex;
    
    margin-left: 5px;
    width: 50%;
    height: 30%;
    background-color: rgba(247, 247, 247, 0);
 }
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* inputs dos dias */

.input_dias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255) ;
}

.label_slct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: transparent;
    font-size:24px;
    font-weight: 800;
    margin-bottom: 2%;
}

#slct_dias{
  
    text-align: center;
    width: 60%;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    background-color:transparent ;
    font-size:19px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* personalizando a div com os preços */

.div_info_valores{
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255) ;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.valor_diarias{
    height: 20%;
    background-color:rgba(22, 22, 230, 0);
    display: flex;
    
    font-size: 20px;
}



/* personalizando as informaçoes como precos e etc */
#diarias{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    
}

#valorTotal_diarias{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}





.taxa_combustivel{
    height: 20%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.combustivel{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 253);
    
}

.valorTotal_combustivel{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.taxa_extra{
    height: 20%;
       background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.extra{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 253);
    
}

.valorTotal_extra{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.total{
    height: 40%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;   
    border-top: 0.5px dotted rgb(143, 141, 141);
  
}



/* botao par alugar */

.div_btn_alugar{
    border-top: 0.5px dotted rgb(143, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(255, 255, 255);
}
.div_btn_alugar button{
    margin:0;
    padding-bottom: 8%;
    
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* personalizando a div com as informaçoes do proprietario e especificações do barco */
.div_informacoes{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;
    width: 47%;
    height: 45%;
    background-color: rgba(240, 138, 5, 0);
    font-family: 'modelo-airbnb';
}

.div_info_proprietario{
    height: 60%;
    background-color: rgba(127, 255, 212, 0);
    border-bottom: 2    px solid rgb(158, 158, 158);   
    padding-bottom: 2%;
}
/* ||||| */



/* personalizando a linha do proprietario como nome img e etc */
.div_proprietario{
    display: flex;
    align-items: center;
    height: 30%;
    background-color: rgba(165, 42, 42, 0);
    border-bottom: 1px solid rgb(150, 150, 150);
    
}

.div_img_proprietario{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(5, 5, 5);
    border: 1px solid rgb(143, 141, 141);
    margin-bottom: 2%;
}

.div_nome_proprietario{
    display: flex;
    align-items: center;
    margin-left: 1%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
    margin-bottom: 2%;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* personalizando a descriçao do proprietario */
.div_descricao{
    height: 65%;
    background-color: rgba(137, 43, 226, 0);
}

.div_span_title{
    display: flex;
    align-items: flex-end;
    height: 15%;
    margin-top: 1.5%;
    background-color: rgba(240, 248, 255, 0);
}

.div_span_title span{
    font-size: 24px;
    font-weight: 800;
}

.div_descricao_proprietario{
    height:100%;
    background-color: rgba(255, 174, 0, 0);
}

.div_descricao_proprietario span{
    font-size:20px ;
    text-align:justify;
    text-align-last:center;;
   
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* personalizando as especificações do barco */

.div_especificacao_barco{
    padding-top: 10%;
    height: 30%;
    background-color:rgba(39, 93, 255, 0) ;
    border-top: 1px solid rgb(136, 136, 136);
}


.div_span_especificacao{
    width: 100%;
    height: 10%;
    padding-bottom: 4%;
    
}

.div_span_especificacao span{
    font-size: 24px;
    font-weight: 800;
}

.div_especificacoes{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    background-color: rgba(72, 209, 205, 0);
    width: 100%;
}


.div_especify{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
   
    border-radius: 20px;
}

.div_especify:hover{
    scale: 1.05;
    transition: 0.2s;
    box-shadow: 0 0 10px rgb(161, 161, 161);
}


.span_titulo{
    padding-top: 20%;
    text-align: center;
   justify-content: center;
   align-items: center;
    height: 35%;
    background-color: rgba(137, 43, 226, 0);
   
}

.span_titulo span{
    font-size: 20px;
    font-weight: 600;
    color: rgb(114, 113, 113);
    margin-bottom: 5px;
}



.span_info{
   padding-top: 15%;
   
   text-align: center;
    height: 50%;
    background-color: rgba(226, 101, 43, 0);
    width: 100%;
}

.span_info span{
    font-size: 18px;
    font-weight:bold;
    color: rgb(8, 8, 8);
    margin-top: 5px;
}



/*-----------------------------FOOTER---------------------*/

#footer {
    top: 1800px;

}



/* ---------------------------------------------------------- */

.swal2-popup .swal2-styled.swal2-confirm {
	background-color: #0cc98a  !important;
    box-shadow: 0 0px 3px 0.5px rgb(158, 158, 158);
}

.swal2-popup .swal2-styled:focus {
    background-color: #0cc98a  !important;
    box-shadow: 0 0px 3px 0.5px rgb(158, 158, 158);
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
	background-color: rgb(16, 182, 126) !important;
}
