@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #ecf0f1; */
    z-index: 20;
    width: 100%;
    height: 100%;
}
.content {
    background-color: #ffffff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.content::before {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, #00e0ff, #04dead);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: #04dead;
    margin-bottom: 10px;
    height: 15%;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
   
    padding: 5% 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 15%;
    align-self: center;
    border: none;
    margin-top: 1rem;
   

}
.btn-primary {
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
    margin-top: 50px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}
.btn-second {

    background: linear-gradient(to bottom, #87CEEB, #04dead);
    border: 1px solid #58af9b;
    transition: background-color .5s;
    /* margin-top: -1px; */
    
    

}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    scale: 1.2;
    transition: 200ms;
}
.first-content {
    display: flex;
    height: 500px;
    width: 100%;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #1E90FF;
    color: #fff;
    border-color: #1E90FF;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    

}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}


/* second content*/

.second-content {
    position: absolute;
    display: flex;
    height: 500px;
    width: 100%;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.2s; 

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.2s; 

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.2s ;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.2s 
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
       
    }

    50% {
        left: -100px;
        opacity: .2;
       
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
       
    }

    50% {
        left: 100px;
       
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    50% {
        left: 25%;
        width: 60%;
    }


    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }


    50% {
        left: 25%;
        width: 60%;
    }


    to {
        left: 0;
        width: 40%;
    }
}

#username-atual{

width: 100%;
height: 100px;
background-color: transparent;
font-size: 50px;


}

.contents {
    background: linear-gradient(to bottom, #87CEEB, #04dead);
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

#coluna-editar{
    background-color: white;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
    
}

.first-contents {
    display: flex;
    height: 440px;
    width: 100%;
}
.first-contents .second-column {
    z-index: 11;
    background-color: black;
} 
