@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('/style/home.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'modelo-airbnb';
}

html {

    height: 100%;
}

.btn-Skipper {
    background-color: transparent;
    text-align: center;

}

.btn_Skipper:hover {
    scale: 1.05;
    transition: 200ms;

}

/* #btn-Embarcacao{


} */

.btn {
    margin: 0;



}

#container-cadastros {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 170px;

}

#btn-direito {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #0977f5;

}

#container-direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 0;



}

#direito {
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    background-color: #0977f500;


}

.form-direito {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.form-direito input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    font-size: 15px;
}



#container-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    height: 70%;





}

#meioSkipper {

    height: 100%;
    width: 30%;


}



#esquerdo {

    width: 35%;
    height: 100%;
    /* border: 1px solid rgb(21, 0, 255);  */
    border-radius: 25px;
    box-sizing: border-box;

}

.form-esquerdo {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;


}

.form-esquerdo input {
    height: 50px;
    width: 50%;
    border: none;
    background-color: #ecf0f1;
    font-size: 15px;
}

input::placeholder {
    padding-left: 15px;
}



.btn-skiper {

    border-radius: 25px;
    text-transform: uppercase;
    color: rgb(252, 250, 250);
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    width: 180px;



}



.btn-skiper:hover {
    background-color: #fff;
    color: #0977f5;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}



.bg-img {
    /* background-image: url('/src/assets/imagens/SKIPPER/lemeSVG.svg'); */
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

}

#titulo {

    font-size: 35px;
    display: flex;
    justify-content: center;
    color: #1E90FF;
    margin-bottom: 10px;
    height: 35%;

}



#inptSexo input {
    height: 20px;
}

#inptSexo {

    align-self: center;
}


#inptSexo label {
    float: left;
    clear: none;
    display: inline;
    text-align: center;
}

#botao-skipper button {

    padding: 15px;
    margin: 25px;
    /* border-radius: 30px; */
    background-color: black;


}

#botao-skipper_esquerdo,
#botao-skipper_direito {

    align-self: center;
    padding-top: 6px;

}

#botao-skipper_esquerdo button {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;

}

#botao-skipper_direito button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;

}

#CliqueEmbarcacao {

    margin-top: 11rem;
    margin-right: 8rem;
}

.btn-skipper {


    background: linear-gradient(to bottom, #87CEEB, #04dead);
    border: 1px solid #58af9b;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 50px;
    align-self: center;

    border: none;



}

.CliqueEmbarcaca:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    scale: 1.2;
    transition: 200ms;
}

#CliqueSkipper {

    margin-top: 11rem;
    margin-left: 15rem;
}


#footer {
    top: 1200px
}